body, .nav-button, .title-container, .navbar, .header, .left-aligned, .right-aligned, #bee-cursor, .title-container h1, .text-statement, .grid-header h1 {
  font-family: 'Amatic SC', sans-serif; /* Setzt die Schriftart für alle Elemente auf der Website */
  /* Füge alle Selektoren hinzu, die die Textelemente auf deiner Website betreffen */
}
.ball{
  background-image: linear-gradient(90deg, rgba(243, 190, 226, 0.708) 0%, rgba(121, 9, 110, 0.447) 0%, rgba(201, 25, 145, 0.502) 60%, rgba(255, 0, 187, 0.242) 97%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 2px 2px 17px 10px rgba(229, 35, 158, 0.73);
  transition: 0.1s;
  pointer-events: none;
  position: fixed;
  }
/* Stil für die Biene */
#bee-cursor {
  position: fixed; /* Stellen Sie sicher, dass es 'fixed' und nicht 'absolute' ist */
  pointer-events: none;
  width: 45px;
  height: 24px;
  background-image: url('bee.png');
  background-size: contain;
 }

 .nav-button {
  background-color: transparent; /* Kein Hintergrund */
  border: none;
  padding: 20px 40px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 35px;
  color: white; /* Weiße Schrift */
  transition: background-color 0.3s, color 0.3s; /* Glatte Farb- und Hintergrundübergänge */
}

.nav-button:hover {
  background-color: transparent; /* Optional: Hintergrund beim Hover, wenn gewünscht */
  text-decoration: underline; /* Unterstreichen beim Hover */
}
#home {
  background-color: transparent; /* Kein spezieller Hintergrund für 'HOME' */
  color: white; /* Weiße Schrift speziell für 'HOME' */
}
.title-container {
  margin: 15px 0; /* Abstand oben und unten vom Titel-Container */
  padding: 15px;
}

.navbar {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 10px 20px;
  color: white; /* Weiße Schrift für die gesamte Navbar */
}


.header {
  position: relative; /* Macht den Header zum Bezugspunkt für die absolute Positionierung der Navbar */
  text-align: center; /* Zentriert den Text im Header */
  padding-top: 250px; /* Entfernt den oberen Abstand */
  padding-bottom: 20px; /* Hält einen unteren Abstand, falls benötigt */
}


.left-aligned {
  text-align: left; /* Linksbündige Ausrichtung für bestimmte Absätze */
  padding-left: 20px; /* Abstand vom linken Rand */
}

.right-aligned {
  text-align: right; /* Rechtsbündige Ausrichtung für bestimmte Absätze */
  padding-right: 20px; /* Abstand vom rechten Rand */
}

.title-container h1 {
  text-align: center; /* Zentriert den Text horizontal */
  font-family: 'Amatic SC', sans-serif; /* Beispiel: Setzt die Schriftart */
  margin-bottom: 250px; /* Setzt den Abstand zwischen dem h1 und dem nachfolgenden Text */
  font-size: 140px; /* Größe der Schrift */
  line-height: 1.4; /* Zeilenhöhe, um den Zeilenabstand anzupassen */
  color: white; /* Weiße Schrift für die gesamte Navbar */
}
/* Grid-Container Stil */
.text-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr; /* Mittlere Spalten sind doppelt so breit wie die äußeren */
  grid-template-rows: auto auto auto; /* Drei Zeilen */
  gap: 200px 20px; /* Abstand zwischen den Zellen */
  padding: 200px 40px; /* Außenabstand für den Grid-Container */

}


.grid-item.text h2 {
  color: rgb(90, 145, 90); /* Grüne Farbe für Überschriften */
  text-align: left; /* Linksbündige Ausrichtung */
  margin: 0; /* Entfernt Margin oben und unten */
  padding: 10px; /* Etwas Platz innen, anpassbar */
  justify-content: flex-start; /* Startet den Inhalt am Anfang des Containers (oben) */
  align-items: flex-start; /* Startet den Inhalt am Anfang des Containers (links) */
}

/* Styling für jeden Satz und spezifische Platzierung bleiben gleich */
.text-statement {

  color: #faf8f8; /* Schwarzer Text */
  padding: 10px; /* Innenabstand */
  text-align: left; /* Textausrichtung links */
  font-size: 3em; /* Größere Schrift */
  font-family: 'Amatic SC', sans-serif; /* Setzt die Schriftart */
  font-weight: bold; /* Macht den Text fett */
}

.text-grid > .text-statement:nth-child(1) {
  grid-column: 2 / 3; /* Platziert den ersten Satz in der zweiten Spalte */
  grid-row: 1 / 2;
}

.text-grid > .text-statement:nth-child(2) {
  grid-column: 4 / 5; /* Platziert den zweiten Satz in der vierten Spalte */
  grid-row: 2 / 3;
}

.text-grid > .text-statement:nth-child(3) {
  grid-column: 3 / 4; /* Platziert den dritten Satz in der dritten Spalte */
  grid-row: 3 / 4;
}

/* Media Query für kleine Bildschirme */
@media (max-width: 768px) {
  .text-statement {
    font-size: 1em; /* Kleinere Schriftgröße für Mobilgeräte */
    padding: 20px; /* Geringeres Padding für Mobilgeräte */
  }}
 
  .content-below {
    background-color: rgb(17, 14, 0); /* Setzt den Hintergrund des Bereichs unter dem Bild auf Schwarz */
  }
  
  .new-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr; /* Anpassung der Spaltenbreiten */
    grid-template-rows: repeat(7, auto); /* Sieben Zeilen */
    gap: 20px;
    padding: 20px;
    background-color: rgb(17, 14, 0); /* Hintergrund ab diesem Bereich schwarz */
    color: white;
  }

  .grid-item {
    padding: 10px;
    border: 1px solid rgb(17,14, 0); /* Optional: Grenzen zwischen den Grid-Elementen anzeigen */
  }
  
  .grid-item.image img {
    width: 100%; /* Sorgt dafür, dass Bilder die volle Zellenbreite nutzen */
    height: auto; /* Behält das ursprüngliche Seitenverhältnis der Bilder bei */
  }


 /* Grid-Container Stil */
.text-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr; /* Mittlere Spalten sind doppelt so breit wie die äußeren */
  grid-template-rows: auto auto auto; /* Drei Zeilen */
  gap: 200px 20px; /* Abstand zwischen den Zellen */
  padding: 200px 40px; /* Außenabstand für den Grid-Container */
}

  
  .grid-item {
    padding: 10px;
    border: 1px solid rgb(17,14, 0); /* Optional: Grenzen zwischen den Grid-Elementen anzeigen */
  }
  
  .grid-item.image img {
    width: 100%; /* Sorgt dafür, dass Bilder die volle Zellenbreite nutzen */
    height: auto; /* Behält das ursprüngliche Seitenverhältnis der Bilder bei */
  }
  
  .grid-item.text {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Zentriert den Text vertikal im Grid-Element */
  }
  @media (max-width: 768px) {
    .new-grid {
      grid-template-columns: 1fr 2fr 1fr; /* Anpassung für kleinere Bildschirme */
    }
    .grid-item.text, .grid-item.image {
      grid-column: 1 / -1; /* Sorgt dafür, dass Inhalte die gesamte Breite nutzen */
    }
  }

  .grid-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-column: 2 / 5; /* Streckt die Überschrift von Spalte 2 bis 4 */
  }
  
  .grid-header h1 {
    grid-column-start: 1; /* Startet in Spalte 2 */
    grid-column-end: 6; /* Endet in Spalte 4 */
    font-size: 130px; /* Doppelte Größe der h2 Schrift */
    color: rgb(90, 145, 90); /* Grüne Farbe, wie Ihre h2 Überschriften */
    font-family: 'Amatic SC', cursive; /* Amatic SC Schriftart */
    text-align: center; /* Zentriert den Text */
    margin: 0; /* Entfernt Margin */
    padding: 20px 0; /* Vertikales Padding */
    background-color: rgb(17,14, 0);
  }

  .new-grid h2, .new-grid p {
    font-family: 'Amatic SC', cursive; /* Setzt Amatic SC als Schriftart */
  }
  
  .new-grid h2 {
    color: rgb(90, 145, 90);
    font-size: 70px;
    margin: 0; /* Entfernt alle Ränder um h2, um es in die Ecke zu setzen */
  padding: 0; /* Optional, wenn Sie den Text näher an den Rand bringen möchten */
  font-size: 70px;
  font-weight: 700; /* Fett gedruckt */
  }
  
  .new-grid p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400; /* Verwendet die normale Schriftstärke für Textabsätze */
  }
  .new-grid p {
    font-size: 25px; /* Erhöht die Schriftgröße der Paragraphen */
    line-height: 0.2; /* Verbessert die Lesbarkeit durch größeren Zeilenabstand */
  }

  @media (max-width: 768px) {
    .new-grid {
      grid-template-columns: 1fr 2fr 1fr; /* Anpassung für kleinere Bildschirme */
    }
    .grid-item.text, .grid-item.image {
      grid-column: 1 / -1; /* Sorgt dafür, dass Inhalte die gesamte Breite nutzen */
    }
  }

 /* Übergeordneter Container für das Karussell */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}



.mySlides img {
  max-width: 70%;  /* Bild nimmt maximal 90% der Breite des Slideshow-Containers ein */
  height: auto;  /* Behält das Seitenverhältnis bei */
  display: block;
  margin: auto;  /* Zentriert das Bild horizontal */
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0);
}

/* Caption schrift */
.schrift {
  color: #fff;
  font-size: 45px;
  padding: 12px 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  text-align: center;
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #464545;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Media Queries für Anpassungen auf kleineren Bildschirmen */
@media (max-width: 768px) {
  .carousel-item {
    width: 90vw; /* Nimmt auf kleineren Bildschirmen mehr Breite ein */
  }
}
.full-width-banner {
  display: flex;
  flex-direction: column;
  align-items: center; /* Zentriert die Kinder horizontal */
  justify-content: space-between; /* Gibt gleichen Abstand zwischen den Elementen */
}

.banner {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px; /* Fügt unten einen kleinen Abstand hinzu */
  background-size: cover;
  transform-style: preserve-3d;
 
  background-position: center; /* Stellt sicher, dass das Hintergrundbild zentriert ist */
}


#banner1 {
  background-image: url('Smell.webp'); /* Ersetze dies mit dem Pfad zu deinem Bild */
  background-size: cover;
}

#banner2 {
  background-image: url('Feel.webp'); /* Ersetze dies mit dem Pfad zu deinem Bild */
  background-size: cover;
}

#banner3 {
  background-image: url('Taste.webp'); /* Ersetze dies mit dem Pfad zu deinem Bild */
  background-size: cover;
}
.banner-text {
  color: white !important;
  font-size: 600px !important; /* Erhöht die Schriftgröße und erzwingt die Anwendung dieser Regel */
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

/* CSS für den neuen Button */
.join-button {
  background-color: rgb(170, 214, 170); /* Grüner Hintergrund */
  color: white; /* Weiße Schriftfarbe */
  border: none; /* Kein Rand */
  padding: 10px 20px; /* Innenabstand */
  font-size: 45px; /* Schriftgröße */
  cursor: pointer; /* Zeiger beim Überfahren */
  transition: background-color 0.3s; /* Übergang für die Hintergrundfarbe */
  border-radius: 20px; /* Abgerundete Ecken */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Schatten für den Button */
}


.join-button:hover {
  background-color: #f4c3e5; /* Dunklerer Hintergrund beim Hover */
}

/* Stil für das Bild und den Button */
.full-width-banner-image {
  position: relative; /* Position relativ zum Container */
}

.full-width-banner-image img {
  width: 100%; /* Bild füllt den Container */
}

.join-button {
  position: absolute; /* Position absolut innerhalb des Containers */
  top: 50%; /* Zentriert vertikal */
  left: 50%; /* Zentriert horizontal */
  transform: translate(-50%, -50%); /* Zentriert sowohl horizontal als auch vertikal */
}

  body {
    margin: 0;
    padding: 0;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 99vw; 
    height: 390vh;
    background-image: url('Hintergrund.webp'); /* Ersetze 'dein-bild.jpg' durch den Pfad zu deinem Hintergrundbild */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%), url('Hintergrund.webp'); /* Gradient-Overlay hinzugefügt */
    background-size: cover;
    background-position: center;
    
  }
  
  /* Stelle sicher, dass das Hintergrundbild über allen anderen Elementen liegt */
  .header {
    position: relative;
    z-index: 1;
  }
  
  /* Stil für den Text und das Grid */
  .text-grid, .content-below {
    position: relative;
    z-index: 2;
  }
  
  /* Deine bestehenden CSS-Regeln für das Grid */
  
  .footer {
    background-color: rgb(17,14, 0); /* Dunkelgrauer Hintergrund */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    width: 100%; /* Füllt die Breite aus */
    margin-bottom: 20px; /* Abstand zu den darunterliegenden Elementen */
}

.social-icon {
    margin: 0 10px;
    color: rgb(90, 145, 90);
    font-size: 24px;
    transition: color 0.3s, transform 0.3s;
}

  
  .social-icon:hover {
    color: #af4c8c; /* Grüne Farbe beim Hover */
    transform: scale(1.1); /* Vergrößern des Icons */
  }
  
  /* Font Awesome muss eingebunden werden */

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    display: flex;
    width: 100%; /* Nutzt die volle Breite */
    justify-content: space-around; /* Verteilt den Raum gleichmäßig */
}

.footer-video {
    width: 30%; /* Erhöht die Breite des Videos */
}

.footer-columns {
    display: flex;
    justify-content: center;
    flex: 1;
}

.footer-column {
    margin: 0 20px; /* Gleichmäßiger Abstand zwischen den Spalten */
}

.footer-column h3 {
    margin-bottom: 10px;
    font-size: 20px; /* Größere Schrift für Überschriften */
}

.footer-column ul li {
    font-size: 16px; /* Größere Schrift für Listenelemente */
    padding-left: 30px;
    text-align: left;
    position: relative;
}

.footer-copy {
    width: 100%;
    text-align: left; /* Linksbündige Ausrichtung des Copyright-Textes */
    padding: 10px 20px;
    font-size: 12px;
}